*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
                /*    background-cover      */ 


.cover{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
width: 100%;
position: absolute;
top: 0;
left: 0;
padding: 20px 5%;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav h2{
        font-size: 60px;
        color: #fff;
        font-weight: 500;
        font-style:italic;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.content{
    text-align:center;
}

.content h1{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    padding: 14px 70px;
    margin-top: 20px;
    border-radius: 50px;
    position: relative;
    transition: 0.5s;
}

.content a:hover{
    border: 1px solid #3B3C3D;
    color: #fff;
    background: #3B3C3D;
}

.video-back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .video-back{
width: 100%;
height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .video-back{
width: auto;
height: 100%;
    }
}


              /*     welcome section     */


.welcome{
    width: 100%;
    padding: 80px 0px;
    background-color: #202122;
}


.wel-photo{
    margin-top: 15px;
    height: 300px;
    width: 500px;
    animation: fadeInRight 5s ease;
}

.wel-text{
    width: 500px;
    animation: fadeInUp 5s ease;
}

.wel{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wel-text h1{
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.wel-text p{
    text-align: justify;
    color: #fff;
    font-size: 18px;
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

                  /*    projects section      */


.projects{
    height: 90px;
    background-color: #202122;
    width: 100%;
    margin: auto;
}

.pro_text{
    padding-top: 15px;
    text-align: center;
    color: #fff;
}

.pro_text h1{
    font-size: 60px;
}

.pro_text p{
    font-size: 18px;
    margin: 20px 50px;
}

.design{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202122;
}

.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.con-box{
    margin-top: 60px;
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition:0.5s ease-in-out;
}

.con-box:hover{
    transform: translateY(20px);
}

.con-box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #202122, #3B3C3D);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.con-box:hover:before{
    opacity: 0.7;
}

.con-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.con-box .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.con-box:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.con-box .info h1{
    margin: 0;
}

.con-box .info p{
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 8px ;
    margin-bottom: 20px;
}

.con-box .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 15px;
}

.con-box .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}


               /*       service section       */


.serviceee{
    height: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #202122;
 }

 .serviceee h1{
	color: white;
	font-size: 60px;
	margin: 25px 0;
	text-align: center;
	font-weight: 600;
 }

 .serviceee p{
	font-size: 18px;
	margin: 20px 50px;
	color: white;
 }

 .ser-box{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 1000px;
	margin-top: 30px;
 }

 .ser-card{
	min-height: 220px;
	width: 320px;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #303030;
	margin: 10px 4px;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	transition: 0.5s all ease-in-out;
 }


 .ser-card i{
	margin: 20px;
	color: white;
	font-size: 30px;
 }

 .ser-card h2{
	color: white;
	margin-bottom: 14px;
	font-weight: 400;
	text-align: center;
 }

 .ser-card p{
    margin: 0;
	color: white;
	text-align: center;
 }

 .ser-card:hover i,
 .ser-card:hover p{
	color: #fff;
 }

 .ser-card:hover h2{
	font-weight: 600;
	color: #f2f2f2;
 }

 .ser-card:nth-child(1):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_1.jpg);
	background-size: cover;
 }

 .ser-card:nth-child(2):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_2.avif);
	background-size: cover;
 }

 .ser-card:nth-child(3):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_3.jpg);
	background-size: cover;
 }

 .ser-card:nth-child(4):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_4.jpg);
	background-size: cover;
 }

 .ser-card:nth-child(5):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_5.jpg);
	background-size: cover;
 }

 .ser-card:nth-child(6):hover{
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(wdd_6.jpg);
	background-size: cover;
 }


               /*     contact section       */


.contactt{
    background-color: #202122;
    height: 500px;
    color: #fff;
}

.cont{
    padding: 5px 7.5%;
    font-size: 18px;
}

.cont h2{
 font-size: 40px;
 font-weight: 600;
}

.cont p{
    margin-top: 1.5px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #ffffffd3;
}

.cbox{
    margin-top: 2rem;
    padding: 0px 7.5%;
}

.cbox p{
    font-size: 14px;
    margin-bottom: 1.5px;
    letter-spacing: 1px;
}

.ibox{
    width: 450px;
    height: 30px;
}

.bbox{
    margin: 0px 35px;
    height: 40px;
    width: 120px;
    color: white;
    background: transparent;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.bbox:hover{
    border: 1px solid #3B3C3D;
    color: #fff;
    background: #3B3C3D;
}


.ibox{
    display: flex;
    margin-bottom: 50px;
}

.ic{
    font-size: 25px;
}

.icon-text h2{
    font-size: 10px;
    margin-left: 10px;
}

.icon-text p{
    font-size: 18px;
    margin-left: 10px;
}

.cont_bg2{
padding: 40px 20px;
}

.cont_bg{
    display: flex;
    justify-content: space-around;
}


                 /*      footer section       */

                 
.footer{
    background: #1c1d1e;
    padding: 50px 30px 20px;
    width: 100%;
}

.social{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.social a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social a:hover{
    background-color: #202122;
    transition: 0.5s;
}

.social a:hover i{
    color: white;
    transition: 0.5s;
}

.foot_text{
    margin: 30px 0;
}

.foot_text ul{
    display: flex;
    justify-content: center;
}

.foot_text ul li{
    list-style: none;
}

.foot_text ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.6;
    transition: 05s;
}

.foot_text ul li a:hover{
    opacity: 1;
}
